
package ui


templ HeadMetaData() {

    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="robots" content="index, follow"/>

}

templ CSSIncludeMain() {

    <link rel="stylesheet" href="/static/c/main.css" />
}
