@config "../../tailwind.config.js";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

    *, ::after, ::before{
        box-sizing: border-box
    }

    html {
        color: theme('colors.c.white');
        background-color: theme('colors.c.black');
    }

    a {
        color: theme('colors.c.yellow');
        background-color: transparent;
        text-decoration: none;
    }

    a:hover {
        color: theme('colors.c.yellow');
    }

    .no-drag {
        pointer-events: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-user-drag: none;
        user-drag: none;
        -webkit-touch-callout: none;
    }

    img {
        @apply no-drag
    }

    h1 {
        @apply text-3xl font-medium
    }

    h2 {
        @apply text-2xl font-medium
    }

    h3 {
        @apply text-lg font-medium
    }

    input,
    button,
    select,
    textarea {
        @apply

        rounded-sm
        border
        px-0.5
        py-1

        bg-c-black
        text-c-white
        placeholder-c-green
        border-c-yellow
        focus:border-c-red
        focus:outline-none
        focus-within:border-c-red
        focus-within:outline-none
    }

    .table-bordered {
        @apply border border-c-l-black border-collapse border-solid;
    }

    .table-bordered th,
    .table-bordered td {
        @apply border border-c-l-black border-solid;
    }

    .table-padded th,
    .table-padded td {
        @apply py-1;
    }
}

