package pages

import (
    "ki/src/ui"
)


templ Base(view *BaseView) {

    <html>
    <head>
        @ui.HeadMetaData()
        @ui.CSSIncludeMain()
        <script src="/static/js/ki.js" > </script>
    </head>

    <body class="px-4 py-8">

        <div class="mx-auto max-w-2xl flex flex-col gap-4">

            @Header(view)

            <main class="flex flex-col gap-4">
                { children... }
            </main>

        </div>

    </body>
    </html>
}
