package pages

import (
    "ki/src/ui"
)


templ Base() {

    <head>
        @ui.HeadMetaData()
        @ui.CSSIncludeMain()
    </head>

    <body class="p-32 bg-c-black text-c-white">

        @Header()

        <center>
            { children... }
        </center>

    </body>
}
