package pages

templ Header(view *BaseView) {

    <nav>
        [
        <a href="/login">Login</a>
        &nbsp;
        <a href="/logout">Logout</a>
        ]
        &nbsp;
        &nbsp;
        &nbsp;
        [
        <a href="/upload">Upload</a>
        &nbsp;
        <a href="/download">Download</a>
        ]

        if view != nil {

            if view.IsCloudflare {

                &nbsp;
                &nbsp;
                &nbsp;
                [
                <span 
                    class="text-c-l-red"
                    title="This connection is being MitM'd (man-in-the-middle) by CloudFlare.">

                    Cloudflare MitM
                </span>
                ]
            }
        }

        <hr/>
    </nav>
}

