package pages

templ Header(view *BaseView) {

    <nav class="flex flex-wrap items-center gap-4">
        <a href="/upload">Upload</a>
        <a href="/download">Download</a>

        if view != nil && view.IsCloudflare {
            <span
                class="text-c-error"
                title="This connection is being MitM'd (man-in-the-middle) by CloudFlare.">
                Cloudflare MitM
            </span>
        }

        <div class="ml-auto flex items-center gap-4">
            <a href="/login">Login</a>
            <a href="/logout">Logout</a>
        </div>
    </nav>
}
