package pages

templ Header() {

    [
    <a href="/login">login</a>
    &nbsp;
    <a href="/logout">logout</a>
    ]
    &nbsp;
    &nbsp;
    &nbsp;
    [
    <a href="/upload">upload</a>
    &nbsp;
    <a href="/download">download</a>
    ]

    <hr/>
}

