package pages

import(
    "ki/src/pkg/bytes"
    "ki/src/config"
	"encoding/hex"
	"strconv"
	"time"
    "fmt"
)


templ checksumInformation(view *PageDownloadFileView ){ 

    {{
        sha512 := hex.EncodeToString(view.File.Sha512Hash)
        sha256 := hex.EncodeToString(view.File.Sha256Hash)
        sha1   := hex.EncodeToString(view.File.Sha1Hash)
        md5    := hex.EncodeToString(view.File.Md5Hash)
    }}
    <br/>
    <h1>Checksums</h1>
    <br/>
        
    <table class="w-full table-padded">
    <tbody class="text-right">

        <tr title={ sha512 }>
            <td class="px-2"> SHA512 </td>
            <td class="w-full">
                <pre>
                <textarea class="w-full whitespace-nowrap" rows="1">
                    { sha512 }
                </textarea>
                </pre>
            </td>
        </tr>

        <tr title={ sha256 }>
            <td class="px-2"> SHA256 </td>
            <td class="w-full">
                <pre> 
                <textarea class="w-full whitespace-nowrap" rows="1">
                    { sha256 }
                </textarea>
                </pre>
            </td>
        </tr>

        <tr title={ sha1 }>
            <td class="px-2"> SHA1 </td>
            <td class="w-full">
                <pre> 
                <textarea class="w-full whitespace-nowrap" rows="1">
                    { sha1 }
                </textarea>
                </pre>
            </td>
        </tr>

        <tr title={ md5 }>
            <td class="px-2"> MD5 </td>
            <td class="w-full">
                <pre> 
                <textarea class="w-full whitespace-nowrap" rows="1">
                    { md5 }
                </textarea>
                </pre>
            </td>
        </tr>

    </tbody>
    </table>
}

templ otherDownloadOptions(view *PageDownloadFileView, url string ){ 

    {{
        dl := view.Origin + url

        var curlCmd string
        var wgetCmd string

        if view.File.UserSetPassword {
            curlCmd = fmt.Sprintf("curl %s --user 0 -O", dl)
            wgetCmd = fmt.Sprintf("wget %s --user=0 --ask-password", dl)
        } else {
            curlCmd = fmt.Sprintf("curl %s -O", dl)
            wgetCmd = fmt.Sprintf("wget %s", dl)
        }
    }}

    <br/>
    <h1>Other downloads</h1>
    <br/>
        
    <pre class="my-2" title="Curl command to download the file">
        <textarea class="w-full whitespace-nowrap" rows="1">
            { curlCmd }
        </textarea>
    </pre>

    <pre class="my-2" title="wget command to download the file">
        <textarea class="w-full whitespace-nowrap" rows="1">
            { wgetCmd }
        </textarea>
    </pre>
}


templ PageDownload(view *BaseView) {

    @Base(view) {

        <br/>

        <h1 title="Download a file">
            Download a file
        </h1>

        <br/>

        <p>
            To download a file, navigate to 
            <span class="font-mono"> { "/download/{fileId}" } </span>
            where <span class="font-mono"> { "{fileId}" } </span>
            is the { strconv.Itoa(config.FILE_ID_SIZE) } byte file identifier of the file you want to download.
        </p>

    }
}

templ PageDownloadFile( view *PageDownloadFileView) {

    @Base(&view.BaseView) {

        {{ 
            idHex := view.FileID.Hex()
            ddl   := "/api/download/" + idHex
        }}

        <br/>

        <h1 title="Direct download">
            <a href={ templ.SafeURL(ddl) } target="_blank" rel="noopener noreferrer">
                Download
            </a>
        </h1>
        <h3 title="File identifier">

                File { idHex }

                if view.File.UserSetPassword {
                    <span title="This file requires a password to download. Provide basic auth using any username with the password to the file. (username will be ignored)">
                    (requires password)
                    </span>
                }
        </h3>

        <pre class="The file size">
            { bytes.PrettyByteSize64(view.File.Size) }
        </pre>

        <br/>

        <pre class="whitespace-pre-wrap break-words" title="Original filename"> 

            if view.File.Name == "" {
                no file name
            } else {
                { view.File.Name }
            }
        </pre> 

        <br/>

        <table class="table-padded">
        <tbody>

            if config.SHOW_DOWNLOADS_REMAINING {

                <tr title="The number of downloads until expirey">
                    <td class="px-2 text-right"> Remaining </td>
                    <td class="px-2 ">
                        <pre> 
                            { strconv.Itoa(view.File.AllowedDownloads- view.File.Downloads) }
                        </pre>
                    </td>
                </tr>
            }

            if config.SHOW_DOWNLOAD_EXPIRE_TIME_REMAINING {

                <tr title="The expires in this much time">
                    <td class="px-2 text-right"> Expires in </td>
                    <td class="px-2 ">
                        <pre> 
                            { view.File.Expires.Sub(time.Now()).String() }
                        </pre>
                    </td>
                </tr>
            }

            if config.SHOW_DOWNLOAD_EXPIRE_TIME {

                <tr title="The time of expirey (server side)">
                    <td class="px-2 text-right"> Expires </td>
                    <td class="px-2 ">
                        <pre> 
                            { view.File.Expires.Format(config.EXPIREY_TIME_FORMAT) }
                        </pre>
                    </td>
                </tr>
            }

        </tbody>
        </table>

        @otherDownloadOptions(view, ddl)

        @checksumInformation(view)
    }
}
