package pages

import(
"ki/src/config"
"ki/src/handlers/str"
"ki/src/ui/formkeys"
)


templ PageUpload() {

    @Base() {

        <br/>
        <h1>Upload a file</h1>
        <h3>File must be less than { str.PrettyByteSize64(config.MAX_UPLOAD_SIZE) } </h3>
        <br/>

        <form enctype="multipart/form-data" action="/api/upload" method="POST">

            <table class="table-auto table-padded">

            <tbody class="text-right">

                <tr title="Expire after this many days">
                    <td class="px-2"> Days </td>
                    <td> <input type="number" name={ formkeys.UPLOAD_FORM_EXPIRE_DAYS } value="0" min="0" required> </td>
                </tr>
                <tr title="Expire after this many hours">
                    <td class="px-2"> Hours </td>
                    <td> <input type="number" name={ formkeys.UPLOAD_FORM_EXPIRE_HOURS } value="1" min="0" required> </td>
                </tr>
                <tr title="Expire after this many minutes">
                    <td class="px-2"> Minutes </td>
                    <td> <input type="number" name={ formkeys.UPLOAD_FORM_EXPIRE_MINUTES } value="0" min="0" required> </td>
                </tr>
                <tr title="Expired after this many downloads">
                    <td class="px-2"> Downloads </td>
                    <td> <input type="number" name={ formkeys.UPLOAD_FORM_EXPIRE_DOWNLOADS } value="1" min="0" required> </td>
                </tr>
                <tr title="Choose the file to upload">
                    <td colspan="2"> 
                        <input class="w-full" type="file" name={ formkeys.UPLOAD_FORM_FILE } required>
                    </td>
                </tr>
                <tr title="Upload the selected file">
                    <td colspan="2"> 
                        <input class="w-full" type="submit" value="Upload">
                    </td>
                </tr>

            </tbody>

            </table>
                        
        </form>
    }
}
