package pages

import(
    "ki/src/handlers/storage"
    "ki/src/pkg/bytes"
    "ki/src/config"
    "ki/src/ui"
    "ki/src/ui/formkeys"
	"encoding/hex"
	"strconv"
	"time"
    "fmt"
)

templ checksumInformation(view *PageDownloadFileView ){ 

    {{
        sha512 := hex.EncodeToString(view.File.Sha512Hash)
        sha256 := hex.EncodeToString(view.File.Sha256Hash)
        sha1   := hex.EncodeToString(view.File.Sha1Hash)
        md5    := hex.EncodeToString(view.File.Md5Hash)
    }}
    <br/>
    <h1>Checksums</h1>
    <br/>
        
    <table class="w-full table-padded">
    <tbody class="text-right">

        <tr title={ sha512 }>
            <td class="px-2"> SHA512 </td>
            <td class="w-full">
                <pre>
                <textarea class="w-full whitespace-nowrap" rows="1" spellcheck="false">
                    { sha512 }
                </textarea>
                </pre>
            </td>
        </tr>

        <tr title={ sha256 }>
            <td class="px-2"> SHA256 </td>
            <td class="w-full">
                <pre> 
                <textarea class="w-full whitespace-nowrap" rows="1" spellcheck="false">
                    { sha256 }
                </textarea>
                </pre>
            </td>
        </tr>

        <tr title={ sha1 }>
            <td class="px-2"> SHA1 </td>
            <td class="w-full">
                <pre> 
                <textarea class="w-full whitespace-nowrap" rows="1" spellcheck="false">
                    { sha1 }
                </textarea>
                </pre>
            </td>
        </tr>

        <tr title={ md5 }>
            <td class="px-2"> MD5 </td>
            <td class="w-full">
                <pre> 
                <textarea class="w-full whitespace-nowrap" rows="1" spellcheck="false">
                    { md5 }
                </textarea>
                </pre>
            </td>
        </tr>

    </tbody>
    </table>
}

templ otherDownloadOptions(view *PageDownloadFileView, url string ){ 

    {{
        dl := view.Origin + url

        var curlCmd string
        var wgetCmd string

        if view.File.UserSetPassword {
            curlCmd = fmt.Sprintf("curl %s --user 0 -O", dl)
            wgetCmd = fmt.Sprintf("wget %s --user=0 --ask-password", dl)
        } else {
            curlCmd = fmt.Sprintf("curl %s -O", dl)
            wgetCmd = fmt.Sprintf("wget %s", dl)
        }
    }}

    if view.File.IsLarge() {

        // currently nothing for large downloads

    } else {
        <br/>
        <h1>Other downloads</h1>
        <br/>
            
        <textarea class="w-full whitespace-nowrap my-2 font-mono" title="Curl command to download the file" rows="1" spellcheck="false">
            { curlCmd }
        </textarea>

        <textarea class="w-full whitespace-nowrap my-2 font-mono" title="wget command to download the file" rows="1" spellcheck="false">
            { wgetCmd }
        </textarea>
    }
}


templ PageDownload(view *BaseView) {

    @Base(view) {

        <br/>

        <h1 title="Download a file">
            Download a file
        </h1>

        <br/>

        <p>
            To download a file, navigate to 
            <span class="font-mono"> { "/download/{fileId}" } </span>
            where <span class="font-mono"> { "{fileId}" } </span>
            is the { strconv.Itoa(storage.FileIDSize) } byte file identifier of the file you want to download.
        </p>

    }
}

templ PageDownloadFile( view *PageDownloadFileView) {

    @Base(&view.BaseView) {

        {{
            idHex := view.FileID.Hex()

            var ddl string

            if view.File.IsLarge() {
                ddl = ui.ServiceWorkerPrefix + idHex + "?pw=1"
            } else {
                ddl = "/api/dl/full/" + idHex
            }
        }}

        <br/>

        <h3 class="whitespace-pre-wrap break-words" title="Original filename"> 

            if view.File.Name == "" {
                { idHex }
            } else {
                { view.File.Name }
            }
        </h3>

        <pre class="The file size">
            { bytes.PrettyByteSize64(view.File.Size) }
        </pre>

        <br/>

        <table class="table-padded">
        <tbody>

            if config.SHOW_DOWNLOADS_REMAINING {

                <tr title="The number of downloads until expirey">
                    <td class="px-2 text-right"> Remaining </td>
                    <td class="px-2 ">
                        <pre> 
                            { strconv.Itoa(view.File.AllowedDownloads- view.File.Downloads) }
                        </pre>
                    </td>
                </tr>
            }

            if config.SHOW_DOWNLOAD_EXPIRE_TIME_REMAINING {

                <tr title="Remaining time until expirey">
                    <td class="px-2 text-right"> Expires in </td>
                    <td class="px-2 ">
                        <pre> 
                            { formatDuration(view.File.Expires.Sub(time.Now())) }
                        </pre>
                    </td>
                </tr>
            }

            if config.SHOW_DOWNLOAD_EXPIRE_TIME {

                <tr title="The time of expirey (server side)">
                    <td class="px-2 text-right"> Expires </td>
                    <td class="px-2 ">
                        <pre> 
                            { view.File.Expires.Format(config.EXPIREY_TIME_FORMAT) }
                        </pre>
                    </td>
                </tr>
            }

        </tbody>
        </table>

        <br/>

        <h1> Download Options </h1>
        <hr />
        if view.File.IsLarge() {
            <p>
            The size of this file exceeds the proxy request limit.
            Downloading it requires using multiple requests, and may be more complicated.
            </p>
        }
        <br/>
        <div id="mount" class="flex flex-col gap-2 w-64">

            if !view.File.IsLarge() {

                // direct http download only available for small files, works without javascript
                <div class="text-left">
                    <h2 title="Download the file with a normal browser download">Direct Download</h2>
                    <form class="flex flex-col gap-1 m-0" action={ templ.SafeURL(ddl) } method="POST">
                        @ui.CSRF(view.R)
                        if view.File.UserSetPassword {
                            <input type="password" name={ formkeys.DOWNLOAD_FORM_PASSWORD } placeholder="file password" title="Enter the password for this file" required>
                        }
                        <button type="submit">Download</button>
                    </form>
                </div>
            }

        </div>

        @otherDownloadOptions(view, ddl)

        @checksumInformation(view)

        <script>

            window.InitDownload(
                "mount",
                {{ idHex }},
                {{ view.File.Name }},
                {{ view.File.UserSetPassword }}
            );

        </script>
    }
}
